<!DOCTYPE html>
<html lang="en">
     <head>
          <!-- Required meta tags -->
          <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <meta http-equiv="x-ua-compatible" content="ie=edge" />
          <meta name="description" content="description" />
          <title><%= data.page.metaTitle%></title>
          <meta name="keywords" content="<%= data.page.metaKeywords %>" />
          <meta name="description" content="<%= data.page.metaDescription %>" />
          <!--Favicon Icon-->
          <link rel="shortcut icon" href="<%= data.page.logo.fullPath %>" />
          <!--Google Fonts-->
          <link
               href="//fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap"
               rel="stylesheet"
          />
          <link
               rel="stylesheet"
               href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
          />

          <!-- Plugins CSS -->
          <link rel="stylesheet" href="/assets/css/plugins.css" />

          <!-- Assing store styles -->
          <style>
               :root {
                    --color-primary: <%=data.template.colorPrimary %>;
                    --color-secondary: <%=data.template.colorSecondary %>;
                    --color-accent: <%=data.template.colorAccent %>;
               }
          </style>

          <!-- Main Style CSS -->
          <link rel="stylesheet" href="/assets/css/style.css" />
          <link rel="stylesheet" href="/assets/css/responsive.css" />
     </head>
     <body class="home demo1">
          <!-- Including ejs scripts -->
          <%- include('assets/js/scripts') %>

          <!--Preloader-->
          <div id="preloader">
               <div class="loader"></div>
          </div>

          <!-- CONTENT -->
          <div class="page-wrapper">
               <!-- TOP BAR -->
               <%- include('partials/top-bar') %>

               <!-- CONTENT -->
               <main id="page-content">
                    <!-- Page banner -->
                    <%- include('partials/page-banner') %>

                    <!-- Views -->
                    <%- include('views/'+(view||'home')) %>
               </main>

               <!-- FOOTER -->
               <%- include('partials/footer') %>

               <!-- SCROLL TOP -->
               <%- include('partials/scroll-top') %>

               <!-- MINI CART -->
               <%- include('partials/mini-cart') %>

               <!-- NEWSLETTER POPUP -->
               <%- include('partials/newsletter-popup') %>

               <div class="modalOverly"></div>
          </div>

          <!-- Including Jquery -->
          <script src="/assets/js/vendor/jquery-min.js"></script>
          <script src="/assets/js/vendor/js.cookie.js"></script>

          <!--Including Javascript-->
          <script src="/assets/js/tacko-scripts/plugins.js"></script>
          <script src="/assets/js/tacko-scripts/main.js"></script>

          <!-- GLOBAL SCRIPTS -->
          <script src="/assets/js/global/notification.js"></script>
          <script src="/assets/js/global/favorites.js"></script>
          <script src="/assets/js/global/cart.js"></script>
          <script src="/assets/js/global/products.js"></script>
          <script src="/assets/js/global/banner-settings.js"></script>
          <script src="/assets/js/global/search.js"></script>

          <!-- Parts app -->
          <script src="/assets/js/partials/newsletter-popup.js"></script>
          <script src="/assets/js/partials/account.js"></script>

          <!-- api should be above asynchronous functions -->
          <script src="/assets/js/partials/api.js"></script>
          <script src="/assets/js/views/contact.js"></script>
          <script src="/assets/js/partials/mini-cart.js"></script>
          <script src="/assets/js/partials/auth.js"></script>
          <script src="/assets/js/index.js"></script>
          <script src="/assets/js/partials/cart-view.js"></script>

          <!-- Views js -->
          <script src="/assets/js/views/summary.js"></script>
     </body>
</html>
