<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>
        <%= data.general.title%>
    </title>

    <link rel="canonical" href="">


</head>

<body>

    <pre><%= JSON.stringify(data)  %></pre>
    <script>
        const data = JSON.parse(<%= JSON.stringify(data) %>)
        console.log(data)
    </script>


    <!-- HEADER -->
    <%- include('partials/header') %>
        <br />

        <!-- VIEW -->
        <%- include('pages/'+(view||'home')) %>
            <br />
            <!-- FOOTER -->
            <%- include('partials/footer') %>



</body>

</html>