
    <p><%= i18n.__('Thank you for contacting us through our website\'s contact form.') %></p>
    <p><%= i18n.__('We appreciate your message and will review it promptly. Our team will respond to your inquiry as soon as possible.') %></p>
    <p>
        <b><%= i18n.__('We value your interest and look forward to assisting you further.') %></b>
        <br/>
        <p> <%= i18n.__('We are glad you are with us ') %></p>
        <p><b><%= i18n.__('Greetings!') %></b></p>
    </p>
