<p>
  <%= i18n.__('You recently requested to reset the password for your 3C ERP CLOUD account. Click the button below to proceed.') %>
</p>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td> <a href="http://localhost:5173/auth/change-password?resetToken=<%= link %>" target="_blank">
                  <%= i18n.__('Reset password') %>
                </a> </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<p>
  <%= i18n.__('If you did not request a password reset, please ignore this email or reply to let us know. This password reset link is only valid for the next 30 minutes.') %>
</p>
<p>
  <b>
    <%= i18n.__('Thank you.') %>
  </b>
</p>