<!--Latest Blog Post Section-->
<section class="section blog-post-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title text-center">
                    <h2 class="title text-uppercase">Blog &amp; Insights</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="latest-blog-post-slider blog-grid">
                    <!--Post Item-->
                    <% data.blog?.pages.forEach((item, index) => { %>
                    <div class="item">
                        <div class="post-thumb rounded-3">
                            <a href="#" class="d-block">
                                <img class="blur-up lazyload rounded-3 w-100" src="<%= item.image.fullPath%>" data-src="<%= item.image.fullPath%>" alt="<%= item.image.name%>" title="<%= item.image.name%>" width="410" height="260" />
                            </a>
                        </div>
                        <div class="post-detail">
                            <a href="<%= `${data.page.host}/${item.urlComponent}` %>" class="h3 text-uppercase"><%= item.description%></a>
                            <div class="meta-post d-flex align-items-center justify-content-between">
                                <span class="date"><i class="cps cp-calendar-check"></i> <%= item.date%></span>
                                <a href="<%= `${data.page.host}/${item.urlComponent}` %>" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                    <!--End Post Item-->
                  
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Latest Blog Post Section-->