<!--Footer-->
<footer class="footer" id="footer">
     <div class="footer-top">
         <div class="container">
             <div class="row">
                 <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                     <div class="newsletter mb-3">
                         <h4 class="title"><%= i18n.__(`locales.footer.newsletter.title`) %></h4>
                         <form action="#" method="post">
                             <p><%= i18n.__(`locales.footer.newsletter.subtitle`) %></p>
                             <div class="input-group">
                                 <input
                                     type="email"
                                     class="newsletter-input"
                                     name="email"
                                     value=""
                                     placeholder="<%= i18n.__(`locales.footer.newsletter.input`) %>"
                                     aria-label="Newsletter Email Input"
                                     required
                                 />
                                 <span class="news-btn">
                                     <button type="submit" class="btn" name="commit" id="Subscribe" aria-label="Subscribe Button">
                                         <i class="cp cp-paper-plane" aria-hidden="true"></i>
                                     </button>
                                 </span>
                             </div>
                         </form>
                     </div>
                     <div class="social-col mb-3 clearfix">
                         <a href="<%= data.page.facebookUrl %>" target="_blank" aria-label="Facebook">
                             <i class="cpb cp-facebook-f" aria-hidden="true"></i>
                         </a>
                         <a href="<%= data.page.instagramUrl %>" target="_blank" aria-label="Instagram">
                             <i class="cpb cp-instagram" aria-hidden="true"></i>
                         </a>
                         <a href="<%= data.page.linkedinUrl %>" target="_blank" aria-label="LinkedIn">
                             <i class="cpb cp-linkedin-in" aria-hidden="true"></i>
                         </a> 
                     </div>
                 </div>
 
                 <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                     <div class="footer-col footer-links clearfix">
                         <h4 class="title">Other Links</h4>
                         <% if (data.footer && data.footer.pages.length > 0) { 
                             var halfCount = Math.floor(data.footer.pages.length / 2); %>
                             <ul>
                                 <% data.footer.pages.slice(0, halfCount).forEach((item) => { %>
                                     <li>
                                         <a href="<%= item.path %>" title="<%= item.name %>"><%= item.name %></a>
                                     </li>
                                 <% }) %>
                             </ul>
                         <% } %>
                     </div>
                 </div>
                 <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                     <div class="footer-col footer-links clearfix">
                         <h4 class="title">Other Links</h4>
                         <% if (data.footer && data.footer.pages.length > 0) { %>
                             <ul>
                                 <% data.footer.pages.slice(halfCount).forEach((item) => { %>
                                     <li>
                                         <a href="<%= item.path %>" title="<%= item.name %>"><%= item.name %></a>
                                     </li>
                                 <% }) %>
                             </ul>
                         <% } %>
                     </div>
                 </div>
                 <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                     <div class="footer-col contact-col">
                         <h4 class="title">Contact</h4>
                         <% if (data.footer && data.footer.address) { %>
                             <ul>
                                 <li>
                                     <a href="mailto:<%= data.footer.address.email %>" aria-label="Email Contact">
                                         <i class="cps cp-envelope-open" aria-hidden="true"></i> <%= data.footer.address.email %>
                                     </a>
                                 </li>
                                 <li>
                                     <a href="tel:<%= data.footer.address.phone %>" aria-label="Phone Contact">
                                         <i class="cps cp-phone" aria-hidden="true"></i> <%= data.footer.address.phone %>
                                     </a>
                                 </li>
                                 <li>
                                     <i class="cps cp-map-marker" aria-hidden="true"></i> <%= data.footer.address.address %><br />
                                     <%= data.footer.address.city %> <%= data.footer.address.zip %>, <%= data.footer.address.country %>
                                 </li>
                                 <li>
                                     <i class="cps cp-clock" aria-hidden="true"></i> 9:30 am - 6:30 pm
                                 </li>
                             </ul>
                         <% } %>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="footer-bottom">
         <div class="container">
             <div class="row">
                 <p>&copy; 2024 3C CLOUD. All Rights Reserved.</p>
             </div>
         </div>
     </div>
 </footer>
 <!--End Footer-->
 