<!--TopBar-->
<div class="top-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 d-flex justify-content-lg-start justify-content-center">
        <span class="phone-top d-flex align-items-center">
          <a href="tel:123-456-7890"><i class="icon cps cp-phone align-middle px-1"></i>
            <span class="label">
              <%= data.info.address.phone %>
            </span></a>
        </span>
        <!-- Language -->
        <span class="language-dropdown top-dropdown d-flex align-items-center">
          <i class="cps cp-language"></i>

          <!-- Select language -->
          <select id="select_language" class="form-select" aria-label="select">
            <% data.page.languages.forEach((item, index) => { %>
            <option value="<%= item %>" <% if(data.page.language === item) { %> selected <% } %>>
              <%= i18n.__(`locales.language.${item}`) %>
            </option>
            <% }); %>
          </select>

        </span>
        <!-- Currency -->
        <span class="currency-dropdown top-dropdown d-flex align-items-center">
          <i class="cps cp-coins"></i>
          <select id="select_currency" class="form-select" aria-label="select">
            <% data.page.currencies.forEach((item, index) => { %>
            <option value="<%= item %>" <% if(data.page.currency === item) { %> selected <% } %>>
              <%= item %>
            </option>
            <% }); %>
          </select>
        </span>
      </div>
      <!-- Discount -->
      <div class="col-xl-4 d-md-flex d-none justify-content-center p-0">
        <div class="shipping-msg"><%= data.page.message %></div>
      </div>
      <!-- Profile -->
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4 justify-content-end d-none d-lg-flex">
        <div class="setting-link">
          <a href="<%= data.page.host %>/account">
            <i class="cp cp-user-circle"></i>
            <% if(!data.user) { %>
              <%= i18n.__("locales.top-bar.my-account") %>
            <% } else { %>
              <%= data.user.name %>
            <% } %>
          </a>
        </div>
        <ul class="list-inline m-0 social-icons">
          <li class="list-inline-item">
            <a href="<%= data.page.facebookUrl %>" target="_blank" title="Facebook"><i class="cpb cp-facebook-f"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="<%= data.page.instagramUrl %>" target="_blank" title="Instagram"><i class="cpb cp-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="<%= data.page.linkedinUrl %>" target="_blank" title="LinkedIn"><i class="cpb cp-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--End TopBar-->
<!--Header-->
<header id="header" class="header-fixed">
  <div class="header d-flex align-items-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-2 col-sm-3 col-md-4 d-flex d-lg-none mobile-icons">
          <!--Mobile Toggle-->
          <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
            <i class="icon cps cp-times"></i>
            <i class="icon cps cp-bars"></i>
          </button>
          <!--End Mobile Toggle-->
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <!--Desktop Logo-->
          <a class="logo" href="/"><img src="<%= data.page.logo.fullPath%>" alt="Tacko - Auto Parts eCommerce Bootstrap5 Html Template" title="Tacko - Auto Parts eCommerce Bootstrap5 Html Template" /></a>
          <!--End Desktop Logo-->
        </div>
        <div class="col-4 col-sm-4 col-md-6 col-lg-5 col-xl-6 prs-0 d-none d-lg-block">
          <!--Desktop Menu-->
          <nav class="grid__item px-1 pr-0" id="AccessibleNav">
            <ul id="siteNav" class="site-nav medium left hidearrow">
              <% data.nav.pages.forEach(page => { %>
                <% if (page.name) { %>
                  <li class="lvl1 parent dropdown">
                    <a href="<%= page.path %>" class="<%= data.page.urlComponent === page.urlComponent ? 'active' : '' %>">
                      <%= page.name %>
                    </a>
                    <% if (page.pages && page.pages.length > 0) { %>
                      <ul class="dropdown">
                        <% page.pages.forEach(subPage => { %>
                          <li>
                            <a href="<%= subPage.path %>" class="site-nav"><%= subPage.name %></a>
                          </li>
                        <% }) %>
                      </ul>
                    <% } %>
                  </li>
                <% } %>
              <% }) %>
            </ul>
          </nav>
          <!--End Desktop Menu-->
        </div>
        <div class="col-4 col-sm-3 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-end align-items-center">
          <!--Search-->
          <div class="serach-site px-3 d-flex d-lg-none">
            <a href="javascript:void(0)" class="btn btn-secondary btn-lg rounded-circle search-icon"><i class="cps cp-search align-middle"></i></a>
          </div>
          <div class="search-open d-none d-lg-flex">
            <div>
              <div class="input-box d-flex">
                <input id="main_search_input" type="text" placeholder="<%= i18n.__('locales.top-bar.search') %>" class="input-text" style="background-color: #f6f6f6;"/>
                <button type="button" title="Search" class="action search" disabled="">
                  <i class="icon cps cp-search cursor-pointer" id="main_search_button"></i>
                </button>
              </div>
            </div>
          </div>
          <!--End Search-->
          <a href="/wishlist" class="wishlist-icon d-none d-lg-flex"><i class="cpr cp-heart"></i>
            <% if(data.user && data.user.favoriteItems > 0) {%>
              <span class="items rounded-circle"><%= data.user.favoriteItems%></span>
            <% } %>  
          </a>
          <!--Cart Icons-->
          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#minicart-drawer" class="btn btn-secondary btn-lg rounded-circle cart-icon" id="cart_btn">
            <i class="cp cp-shopping-cart"></i>
            <% if(data.shoppingCart && data.shoppingCart.lines.length > 0) { %> 
              <span id="cart_badge" class="items rounded-circle"><%= data.shoppingCart.quantity %></span>
            <% } %>
          </a>
          <!--End Cart Icons-->
        </div>
      </div>
    </div>

    <!--Search Popup-->
    <div id="search-popup" class="search-drawer">
      <div class="container">
        <span class="closeSearch cps cp-times"></span>
        <div class="form minisearch" id="header-search" method="get">
          <label class="label"><span>Search</span></label>
          <div class="control">
            <div class="searchField">
              <div class="input-box">
                <button class="action search">
                  <i id="main_search_mobile_button"  class="icon cps cp-search"></i>
                </button>
                <input id="main_search_mobile_input" type="text" placeholder="Search" class="input-text" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Search Popup-->
  </div>
</header>
<!--Header-->

<!--Mobile Drawer Menu-->
<div class="mobile-nav-wrapper" role="navigation">
  
  <!-- Top -->
  <div class="closemobileMenu">
    <i class="icon cps cp-times pull-right"></i> <%= i18n.__(`locales.mobile-nav.close-menu`) %>
  </div>

  <!-- Menu -->
  <ul id="MobileNav" class="mobile-nav">

    <% if(data.nav && data.nav.pages) {%>

      <% data.nav.pages.forEach((item) => { %>

        <% if (item.pages.length === 0 ) { %>

          <li class="lvl1">
            <a href="<%= item.path %>"><%= item.name %></a>
          </li>

        <% } else { %>
          <li class="lvl1">
            <a href="<%= item.path %>"><%= item.name %> <i class="cps cp-plus"></i> </a>

            <ul class="m-items lvl-1">

              <% item.pages.forEach((subpage) => {  %>

                <li>
                  <a href="<%= subpage.path%>" class="site-nav"><%= subpage.name %> </a>
                </li>

              <% }) %>
            </ul>
          </li>

        <% } %>

      <% }) %>
    <% } %>  
  </ul>
</div>
<!--End Mobile Drawer Menu-->

<script>

const update_badge_cart = (new_quantity) => {
  let HTML_cart_badge = document.querySelector("#cart_badge");

  if(HTML_cart_badge) {
    HTML_cart_badge.innerHTML = new_quantity
  }

}

// Download products to your shopping cart at the click of a button
const btn_cart = document.querySelector('#cart_btn')

if(btn_cart) {
  btn_cart.addEventListener('click', async () => {
    await handle_get_products_in_mini_cart()
    return
  })
}

// Lisenner to search btn 
let main_search_input = document.querySelector("#main_search_input");
let main_search_button = document.querySelector("#main_search_button");

main_search_input.addEventListener("keypress", (e) => {
    if (e.key !== "Enter") return;

          let keywords = main_search_input.value

          search_product(keywords)

          return;
    });


main_search_button.addEventListener("click", () => {
  
    let keywords = main_search_input.value

     search_product(keywords)

     return;
});

let main_search_mobile_input = document.querySelector('#main_search_mobile_input')
let main_search_mobile_button = document.querySelector('#main_search_mobile_button')


main_search_mobile_input.addEventListener("keypress", (e) => {
    if (e.key !== "Enter") return;

    let keywords = main_search_mobile_input.value

    search_product(keywords)

    return;
});


main_search_mobile_button.addEventListener("click", () => {
  
  let keywords = main_search_mobile_input.value

  search_product(keywords)

  return;
});

</script>