<div>
  <!-- Slideshow -->
  <%- include('../partials/slider') %>

    <!-- Parts Finder -->
    <%- include('../partials/parts-finder') %>

      <!-- Small banner -->
      <%- include('../partials/banner') %>

        <!-- Categories -->
        <%- include('../partials/categories') %>

          <!-- Blog -->
          <%- include('../partials/blog') %>
</div>