

<main id="page-content" class="mb-0">
        

    
    <!--Product Details-->
    <div class="section">
        <div class="container">
            <div class="product-single">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <% if(data.content.images[0]) {%>
                        <div class="product-details-img product-horizontal-style mb-3">
                            <div class="product-zoom">
                                <div class="zoompro-wrap product-zoom-right pl-20">
                                    <div class="zoompro-span">
                                        
                                        <div style="aspect-ratio: 1/1; display: flex; justify-content: center; align-items: center; padding: 20px;">
                                           
                                            <img  id="zoompro" class="zoompro prlightbox" src="<%= data.content.images[0].fullPath %>" data-zoom-image="<%= data.content.images[0].fullPath %>" alt="<%= data.content.images[0].name %>" />
                                        
                                        </div>
                                    </div>
                                    <div class="product-buttons">
                                        <a class="btn prlightbox rounded" title="Zoom">
                                            <i class="cps cp-expand"></i>
                                            <span class="tooltip-label">Zoom Image</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-thumb product-horizontal-thumb">
                                <div id="gallery" class="product-thumb-style1">


                                    <% data.content.images.forEach((image) => { %>
                                        <div style="aspect-ratio: 1/1; display: flex; justify-content: center; align-items: center;">

                                            <a style="aspect-ratio: 1/1; display: flex; justify-content: center; align-items: center; padding: 5px;"  data-image="<%= image.fullPath %>" data-zoom-image="<%= image.fullPath %>" data-slick-index="-4" aria-hidden="true" tabindex="-1">
                                                <img class="blur-up lazyload" data-src="<%= image.fullPath %>" src="<%= image.fullPath %>" alt="<%= image.name%>" />
                                            </a>
                                        </div>
                                    <% }) %>
                 
                        
                                </div>
                            </div>
                            <div class="lightboximages">
                                
                                <% data.content.images.forEach((image) => { %>
                                    <a href="<%= image.fullPath %>" data-size="700x700"></a>
                                <% }) %>
                                
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product-single-detail">
                        <h1 class="product-title text-uppercase"><%= data.content.name %></h1>
                        <div class="d-flex justify-content-between">
                            <div class="product-review mb-2">
                                <!--Product Label-->
                              <!-- Green -->
                              <% if(data.content.quantityAvailable > 2 ) {%>
                                <div class="product-labels-product-page">
                                  <span class="pr-label3 lbl new rounded"
                                    ><%= `${i18n.__("locales.stock-status.in-stock")}: ${data.content.quantityAvailable}` %></span
                                  >
                                </div>
              
                                <% } %>
              
                                <!-- Yellow -->
                                <% if(data.content.quantityAvailable <= 2 && data.content.quantityAvailable !== 0) { %>
                                <div class="product-labels-product-page">
                                  <span class="pr-label2 hot lbl new rounded"
                                    ><%= `${i18n.__("locales.stock-status.in-stock")}: ${data.content.quantityAvailable}` %></span
                                  >
                                </div>
              
                                <% } %>
              
                                <!-- Red -->
                                <% if(data.content.quantityAvailable === 0 ) {%>
                                <div class="product-labels-product-page">
                                  <span class="on-sale lbl rounded"
                                    ><%= i18n.__("locales.stock-status.not-available") %></span
                                  >
                                </div>
              
                                <% } %>
                            </div>
                            <div class="sku mb-1"><b>SKU:</b> <%= data.content.sku %></div>
                        </div>

                        <div class="brands mb-1"><b>Brand:</b> <%= data.content.manufacturer %></div>
                        <div class="price-box">
                            <span class="visually-hidden">Regular price</span>
                            <span class="sale-price">
                                <%= data.content.priceFormat %>
                            </span>
                        </div>
                        
                        <div class="sort-description">
                            <h4 class="title">Description:</h4>

                            <p><%= data.content.description  %></p>
                            
                            <hr>
                            <b>Specifications</b>
                            <b>Note:</b>
                        </div>
                            
                        <!-- Product Form -->
                        <form onsubmit="return false" id="product_form" class="product-form">
                            <!-- Product Action -->
                            <div class="product-action w-100 clearfix d-flex align-items-center">
                                <div class="d-flex w-100">
                                    <div class="product-form-quantity">
                                        <div class="qtyField">
                                            <a class="qtyBtn minus" href="javascript:void(0);"><i class="cps cp-minus"></i></a>
                                            <input id="input_product_quantity" type="text" name="quantity" value="1" class="product-form__input qty">
                                            <a class="qtyBtn plus" href="javascript:void(0);"><i class="cps cp-plus"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-form-submit flex-1">
                                        <button id="btn_main_add_to_card" type="submit" class="btn rounded w-100 add-to-cart-btn"><i class="cp cp-shopping-cart"></i> <span>Add to cart</span></button>
                                        <button type="submit" class="btn rounded d-none" disabled="disabled">Sold out</button>
                                    </div>
                                </div>
                                <div class="d-flex btn-icons">
                                    <a id="btn_favorite_add" class="btn-link cursor-pointer"><i class="cp cp-lg cp-heart"></i></a>
                                    <!-- <a class="btn-link" href="compare-product.html"><i class="cp cp-exchange-alt"></i></a> -->
                                </div>
                            </div>
                            <!-- End Product Action -->
                            </form><!-- End Product Form -->
                        
                        <!--Social Share-->
                        <div class="social-sharing d-flex mb-3 mt-3 clearfix">
                            <span class="sharing-lbl me-2 text-uppercase">Share:</span>

                            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" target="_blank"><i class="cpb cp-facebook-f"></i></a>
                            <a href=" http://www.linkedin.com/shareArticle?mini=true&url=https://stackoverflow.com/questions/10713542/how-to-make-custom-linkedin-share-button/10737122&title=How%20to%20make%20custom%20linkedin%20share%20button&summary=some%20summary%20if%20you%20want&source=stackoverflow.com" target="_blank"><i class="cpb cp-linkedin-in"></i></a>
                        </div>
                        <!--End Social Share-->
                    </div>
                    </div>
                </div>

                <section class="section-sm store-features">
                    <div class="row store-info">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-2 my-md-2">
                                <div class="d-flex rounded-3">
                                    <i class="cps cp-truck-moving"></i>
                                    <div class="detail">
                                        <h5 class="fs-6 text-uppercase mb-1 body-font">Free Shipping &amp; Return</h5>
                                        <p class="sub-text">Free shipping on all US orders</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-2 my-md-2">
                                <div class="d-flex rounded-3">
                                    <i class="cps cp-shield-alt"></i>
                                    <div class="detail">
                                        <h5 class="fs-6 text-uppercase mb-1 body-font">Secure Payment</h5>
                                        <p class="sub-text">All payment are Secured and trusted.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-2 my-md-2">
                                <div class="d-flex rounded-3">
                                    <i class="cps cp-dollar-sign"></i>
                                    <div class="detail">
                                        <h5 class="fs-6 text-uppercase mb-1 body-font">Money Gurantee</h5>
                                        <p class="sub-text">30 days money back guarantee</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-2 my-md-2">
                                <div class="d-flex rounded-3">
                                    <i class="cps cp-question-circle"></i>
                                    <div class="detail">
                                        <h5 class="fs-6 text-uppercase mb-1 body-font">Have A Questions?</h5>
                                        <p class="sub-text">our technical will help you</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>

                <!--Products Tabs-->
                <div class="row mt-5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="tabs-listing mt-2">
                            <ul class="product-tabs list-unstyled d-flex-wrap m-0 d-none d-md-flex justify-content-center">
                                <li rel="description" class="active"><a class="tablink">Description</a></li>
                                <li rel="addtional-tabs"><a class="tablink">Technical Data </a></li>
                                <li rel="shipping-return"><a class="tablink">Shipping &amp; Return</a></li>
                            </ul>
                            <div class="tab-container">
                                <!--Description-->
                                <h3 class="tabs-ac-style acor-ttl d-md-none active" rel="description">Description</h3>
                                <div id="description" class="tab-content">
                                    <div class="product-description">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0 overflow"> 
                                                <!-- Description HTML -->
                                                <div style="overflow-x: auto;" id="shadow_DOM"></div>
                                            </div>                                                        
                                        </div>
                                    </div>
                                </div>
                                <!--End Description-->
                                <!--Review-->
                                <h3 class="tabs-ac-style acor-ttl d-md-none" rel="reviews">Review (5)</h3>
                                <div id="reviews" class="tab-content">
                                    <div class="row justify-content-center">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2 px-4 mb-3">
                                            <h4 class="text-uppercase mb-3">Customer Reviews</h4>
                                            <div class="review-inner">
                                                <div class="review-list row">
                                                    <div class="col-3 col-sm-2 col-md-2 col-lg-2 text-center">
                                                        <img class="blur-up lazyload rounded-pill" data-src="assets/images/photo1.jpg" src="assets/images/photo1.jpg" alt="Photo" />
                                                    </div>
                                                    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
                                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                                            <div class="detail">
                                                                <p class="m-0"><b>Henri Will</b></p>
                                                                <small>17 July 2020, 6:05 PM</small>
                                                            </div>
                                                            <div class="product-review">
                                                                <i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cpr cp-star"></i>
                                                            </div>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="review-list row">
                                                    <div class="col-3 col-sm-2 col-md-2 col-lg-2 text-center">
                                                        <img class="blur-up lazyload rounded-pill" data-src="assets/images/photo1.jpg" src="assets/images/photo1.jpg" alt="Photo" />
                                                    </div>
                                                    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
                                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                                            <div class="detail">
                                                                <p class="m-0"><b>David Willy</b></p>
                                                                <small>20 August 2020, 6:05 PM</small>
                                                            </div>
                                                            <div class="product-review">
                                                                <i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i>
                                                            </div>
                                                        </div>
                                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the make a type specimen book.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2 px-4 mb-3">
                                            <h4 class="text-uppercase mb-3">Write A Review</h4>
                                            <form action="#" method="post">
                                                <div class="row align-items-center">
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label class="margin-15px-bottom" for="basic-name">Your name <span class="required">*</span></label>
                                                        <input id="basic-name" class="bg-white mb-2" type="text" name="name" placeholder="Enter your name">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <label class="margin-15px-bottom">Your email address <span class="required">*</span></label>                                    
                                                        <input class="bg-white mb-2" type="text" name="email" placeholder="Enter your email">
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 margin-30px-bottom">
                                                        <label class="margin-15px-bottom">Your rating <span class="required">*</span></label>                                    
                                                        <span class="text-orange text-extra-small d-block product-review mb-2">
                                                                <i class="cpr cp-star"></i><i class="cpr cp-star"></i><i class="cpr cp-star"></i><i class="cpr cp-star"></i><i class="cpr cp-star"></i></span>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="margin-15px-bottom">Your comment</div>
                                                        <textarea class="bg-white mb-3" rows="4" name="comment" placeholder="Enter your comment"></textarea>
                                                    </div>
                                                    <div class="col-12">
                                                        <input class="btn btn-lg rounded-3" type="button" name="submit" value="Submit Review">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--End Review-->
                                
                                <!--Shipping & Returns-->
                                <h3 class="tabs-ac-style acor-ttl d-md-none" rel="shipping-return">Shipping &amp; Return</h3>
                                <div id="shipping-return" class="tab-content">
                                    <h4 class="pt-2 text-uppercase">Delivery</h4>
                                    <ul class="list-items">
                                        <li>Dispatch: Within 24 Hours</li>
                                        <li>Free shipping across all products on a minimum purchase of $50.</li>
                                        <li>International delivery time - 7-10 business days</li>
                                        <li>Cash on delivery might be available</li>
                                        <li>Easy 30 days returns and exchanges</li>
                                    </ul>
                                    <h4 class="pt-2 text-uppercase">Returns</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    <h4 class="pt-2 text-uppercase">Shipping</h4>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage.</p>
                                </div>
                                <!--End Shipping & Returns-->

                                <!--Additional Tabs-->
                                <h3 class="tabs-ac-style acor-ttl d-md-none" rel="addtional-tabs">Addtional Tabs</h3>
                                <div id="addtional-tabs" class="tab-content" style="display: block;">
                                    <div class="table-wrapper table-responsive">
                                        <table class="table table-stripped mt-5">
                                            <tbody id="table-compare">
                                                <tr>
                                                    <th class="item-row">Name</th>
                                                    <th class="item-row">Value</th>
                                                </tr>
                                       
                                                <% data.content.parameters.forEach(parameter => { %>
                                                    <tr>
                                                        <td class="item-row"><%= parameter.name %></td>
                                                        <td class="item-row"><%= parameter.value %></td>
                                                    </tr>
                                                <% }) %>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--End Additional Tabs-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Products Tabs-->
            </div>
        </div>
    </div>
    <!--End Product Details-->

    <!--Related products-->
    <section class="section product-slider">
        <div class="container">
            <div class="row">
                <div class="section-title col-12 text-left">
                    <h2 class="title text-uppercase"><%= i18n.__('locales.product-view.related-title') %></h2>
                </div>
            </div>

            <div class="productSlider grid-products products-grid" name="container_products">

                <% if(data.content.relatedItems[0]) { %>

                    <% data.content.relatedItems.forEach((item, index) => { %>

                        <!--Product Item-->
                        <div class="item">
                            <!--Product Image-->
                            <div class="product-image">
                                    <% if(item.images.length === 0) { %>
                                        <a href="<%= `${data.page.host}/item/${item.urlComponent}` %>" class="rounded-3 product-thumb">
                                            <img
                                                class="primary blur-up lazyload rounded-3"
                                                data-src="assets/images/products/250x250.jpg"
                                                src="assets/images/products/250x250.jpg"
                                                alt="Hankook DynaPro AT-m RF10"
                                                title="Hankook DynaPro AT-m RF10"
                                            />
                                        </a>
                                    <% } %>
                                    <% if(item.images.length === 1) {%>

                                        <a href="<%= `${data.page.host}/item/${item.urlComponent}` %>" class="rounded-3 product-thumb">
                                            <img
                                                class="primary blur-up lazyload rounded-3"
                                                data-src="<%= item.images[0].fullPath%>"
                                                src="<%= item.images[0].fullPath%>"
                                                alt="<%= item.images[0].name %>"
                                                title="<%= item.images[0].name %>"
                                            />
                                        </a>
                      
                                    <% } %>

                                    <% if(item.images.length >= 2) {%>
                                        <a
                                          href="<%= `${data.page.host}/item/${item.urlComponent}` %>"
                                          class="rounded-3 product-thumb"
                                        >
                      
                                            <img
                                                class="primary blur-up lazyload rounded-3"
                                                data-src="<%= item.images[0].fullPath%>"
                                                src="<%= item.images[0].fullPath%>"
                                                alt="<%= item.images[0].name %>"
                                                title="<%= item.images[0].name %>"
                                            />
                                            <img
                                                class="hover blur-up lazyload rounded-3"
                                                data-src="<%= item.images[1].fullPath%>"
                                                src="<%= item.images[1].fullPath%>"
                                                alt="<%= item.images[1].name %>"
                                                title="<%= item.images[1].name %>"
                                            />
                                        </a>
                      
                                    <% } %>
                      
                                    <!-- AVAILABLE -->
                                    <!-- Green -->
                                    <% if(item.quantityAvailable > 2 ) {%>

                                        <div class="product-labels">
                                            <span class="pr-label3 lbl new rounded"
                                                ><%= `${i18n.__("locales.stock-status.in-stock")}: ${item.quantityAvailable}` %></span
                                            >
                                        </div>
                
                                    <% } %>
  
                                    <!-- Yellow -->
                                    <% if(item.quantityAvailable <= 2 && item.quantityAvailable !== 0) { %>

                                        <div class="product-labels">
                                            <span class="pr-label2 hot lbl new rounded"
                                                ><%= `${i18n.__("locales.stock-status.in-stock")}: ${item.quantityAvailable}` %></span
                                            >
                                        </div>
                
                                    <% } %>
  
                                    <!-- Red -->
                                    <% if(item.quantityAvailable === 0 ) {%>

                                    <div class="product-labels">
                                        <span class="on-sale lbl rounded"
                                            ><%= `${i18n.__("locales.stock-status.not-available")}` %></span
                                        >
                                    </div>
                
                                    <% } %>


                                    <!-- ACTIONS -->
                                    <div class="button-hover">
                                        <span class="btn btn-wishlist cursor-pointer" title="Favorites">
                                            <i index="<%= index %>" product_id="<%= item.id %>" action="add_to_favorites" class="cpr cp-heart"></i>
                                        </span>
                                        <span class="btn pro-addtocart-popup rounded btn-cart btn-primary"  title="Add To Cart">
                                            <i index="<%= index %>" product_id="<%= item.id %>" action="add_to_cart"  class="cps cp-shopping-cart"></i>
                                        </span>
                                    </div>

                            </div>
                            <!--End Product Image-->


                            <!--Product Detail-->
                            <div class="product-details d-flex">
                            <div class="product-details-in">
                                <div class="h3"><a href="#"><%= item.name %></a></div>
                                <div class="price-box"><span class="price"><%= item.priceFormat %></span></div>
                            </div>
                        </div>
                            <!--End Product Detail-->
                        </div>
                        <!--End Product Item-->

                    <% }) %>
                
               <% } %>
                
            </div>
        </div>
    </section>
    
</main>

</div>

<script>

    // Render html description
    let div_shadow_dom = document.querySelector('#shadow_DOM')

    if(div_shadow_dom) {
        let html = data.content.html 
        let shadow = div_shadow_dom.attachShadow({ mode: 'open' });
        

        if(html) {   
            shadow.innerHTML = html
        }
    }


    // Add product to cart
    let HTML_quantity = document.querySelector("#input_product_quantity");
    let HTML_main_btn = document.querySelector("#btn_main_add_to_card");

     HTML_main_btn.addEventListener("click", async (e) => {
          let id = data.content._id;
          let quantity = HTML_quantity.value;

          let success = await add_to_cart(id, quantity);

          if(success) {
            window.location.reload()
          }
     });


    //  Add product to favorite
    let HTML_favorite = document.querySelector('#btn_favorite_add')

    HTML_favorite.addEventListener('click', async () => {
        let id = data.content._id
        let success = await add_favorites(id)

        if(success) {
            window.location.reload()
        }
    })


</script>

<style>
.store-features .store-info .cps {
  float: left;
  margin: 0 15px 0 0;
  font-size: 45px;
  line-height: 40px;
  vertical-align: middle;
  display: block;
  width: 50px;
  text-align: center;
}
.store-features .store-info .detail {
  font-size: 13px;
}
.store-features .store-info .detail h5 {
  color: #303030;
  margin: 0 !important;
}
.store-features .store-info .d-flex {
  background-color: #f0f0f0;
  padding: 20px 10px;
}
</style>