<div class="section pb-0">
     <div class="container">
          <div class="row">
               <!--Sidebar-->
               <div
                    class="col-12 col-sm-12 col-md-12 col-lg-3 sidebar filterbar order-2 order-lg-0 order-md-2 order-sm-2"
               >
                    <div class="closeFilter d-block d-lg-none">
                         <button aria-label="Zamknij filtry">
                             <i class="cps cp-times"></i>
                         </button>
                    </div>
                    <div class="sidebar-filters">
                         <div class="shopby-title text-uppercase">
                              <h2>Shop by</h2>
                         </div>
                         <div class="nowshopby">
                         
                              <div class="block clearfix block-categories">
                                   <div class="block-title text-secondary"><h3>Kategorie</h3></div>
                                   <div class="block-content">
                                       <ul class="items">

                                            <% if(data.content.filters) { %>

                                                 <% data.content.filters.forEach((item) => { %>
                                                      
                                                      <% if(item.field === 'category') { %>

                                                            <% item.options.forEach((option) => { %>
                                                                 <li class="lvl-1">
                                                                 <a href="<%= data.page.host + '/search/' + option.urlComponent %>" urlComponent="<%= option.urlComponent %>" name="category_link" aria-label="Przejdź do kategorii <%= option.name %>">
                                                                      <%= option.name %>
                                                                 </a>
                                                                 </li>
                                                            <% }) %>
                                                        

                                                      <% } %>

                                                 <% }) %>

                                            <% } %>
                                       </ul>
                                   </div>
                               </div>


                              <div class="block filterBox filter-widget size-swacthes mt-5">
                                    <div class="block-title"><h3 class="mb-0">Grupy</h3></div>
                                    <div class="filter-color filter-size swacth-list">
                                        <ul id="container_group" class="clearfix">

                                            <% if (data.content.filters) { %>
                                                  <% data.content.filters.forEach((item, index) => { %>
                                                       <% if (item.field === 'group') { %>

                                                            <% item.options.forEach((option, index) => { %>

                                                                 <li name="group" class="w-100 p-1 <% if(index > 5) { %> d-none <% } %>">
                                                                      <button class="swacth-btn p-2 w-100" urlComponent="<%= option.urlComponent %>" name="group_link" field="<%= item.field %>" aria-pressed="false">
                                                                          <%= option.name %>
                                                                      </button>
                                                                 </li>

                                                            <% }) %>

                                                            <% if (item.options.length > 5) { %>
                                                                 <button id="btn_more_group" class="btn-more" name="more">wiecej</button>
                                                            <% } %>

                                                       <% } %>  
                                                  <% }) %>
                                             <% } %>
                                        </ul>
                                    </div>
                                </div>
                         </div>

                         <!--Availability-->
                         <div
                              class="block filterBox"
                         >
                              <div class="block-title">
                                   <h3 class="mb-0">Dostępność</h3>
                              </div>
                              <div class="">
                                   <ul
                                        class="clearfix"
                                        style="column-count: auto"
                                   >
                                        <li>
                                             <input
                                                  type="checkbox"
                                                  value="instock"
                                                  id="instock"
                                             /><label for="instock"
                                                  ><span></span> W magazynie</label
                                             >
                                        </li>
                                        <li>
                                             <input
                                                  type="checkbox"
                                                  value="outofstock"
                                                  id="outofstock"
                                             /><label for="outofstock"
                                                  ><span></span> Niedostępne</label
                                             >
                                        </li>
                                   </ul>
                              </div>
                         </div>
                         <!--End Availability-->

                         <!--End Popular Tags-->
                    </div>
               </div>
               <!--End Sidebar-->

               <!--Content-->
               <div class="col-12 col-sm-12 col-md-12 col-lg-9 main-col">
                    <!--Toolbar-->
                    <div class="toolbar py-3 pt-0">
                         <div class="filters-toolbar-wrapper">
                              <ul
                                   class="list-unstyled d-flex align-items-center justify-content-between m-0"
                              >
                                   <li
                                        class="collection-view d-flex align-items-center"
                                   >
                                        <div
                                             id="display_products_system"
                                             class="filters-toolbar__item collection-view-as d-flex align-items-center me-3"
                                             aria-label="Zmień widok produktów"
                                        >
                                             <button
                                                  id="btn_grid_products_system"
                                                  class="change-view prd-grid"
                                                  value="grid"
                                                  aria-pressed="true"
                                                  aria-label="Widok siatki"
                                             >
                                                  <i
                                                       class="cps cp-th-large"
                                                  ></i>
                                                  <span class="tooltip-label"
                                                       >Siatka</span
                                                  >
                                             </button>
                                             <button
                                                  id="btn_list_products_system"
                                                  class="change-view prd-list"
                                                  value="list"
                                                  aria-pressed="false"
                                                  aria-label="Widok listy"
                                             >
                                                  <i class="cps cp-list"></i>
                                                  <span class="tooltip-label"
                                                       >Lista</span
                                                  >
                                             </button>
                                        </div>
                                        <div
                                             class="product-count d-flex align-items-center"
                                        >
                                             <button
                                                  type="button"
                                                  class="btn rounded btn-filter d-block d-lg-none me-2 me-sm-3"
                                                  aria-label="Filtruj produkty"
                                             >
                                                  <span class="hidden"
                                                       >Filtruj</span
                                                  >
                                             </button>
                                        </div>
                                   </li>
                                   <li
                                        class="filters-select ms-auto ms-sm-0 d-flex align-items-center"
                                   >
                                   </li>
                              </ul>
                         </div>
                    </div>
                    <!--End Toolbar-->

                    <!--Product Grid-->
                    <div
                         id="grid_products_system"
                         class="products-grid"
                         name="container_products"
                    >
                         <div class="row">
                              <!--ITEMS-->
                              <% data.content.docs.forEach((item, index) => { %>
                              <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                   <div class="item" itemscope itemtype="https://schema.org/Product">
                                        <!--Product Image-->
                                        <div class="product-image">
                                             <% if(item.images.length === 0) { %>
                                             <a
                                                  href="<%= `${data.page.host}/item/${item.urlComponent}` %>"
                                                  class="rounded-3 product-thumb"
                                                  aria-label="<%= item.name %>"
                                             >
                                                  <img
                                                       class="primary blur-up lazyload rounded-3"
                                                       data-src="assets/images/products/250x250.jpg"
                                                       src="assets/images/products/250x250.jpg"
                                                       alt="Brak obrazu dla <%= item.name %>"
                                                       title="<%= item.name %>"
                                                       loading="lazy"
                                                  />
                                             </a>
                                             <% } %>
                                             <% if(item.images.length === 1) { %>
                                             <a
                                                  href="<%= `${data.page.host}/item/${item.urlComponent}` %>"
                                                  class="rounded-3 product-thumb"
                                                  aria-label="<%= item.name %>"
                                             >
                                                  <img
                                                       class="primary blur-up lazyload rounded-3"
                                                       data-src="<%= item.images[0].fullPath%>"
                                                       src="<%= item.images[0].fullPath%>"
                                                       alt="<%= item.images[0].name %> - <%= item.name %>"
                                                       title="<%= item.images[0].name %>"
                                                       loading="lazy"
                                                  />
                                             </a>
                                             <% } %>
                                             <% if(item.images.length >= 2) { %>
                                             <a
                                                  href="<%= `${data.page.host}/item/${item.urlComponent}` %>"
                                                  class="rounded-3 product-thumb"
                                                  aria-label="<%= item.name %>"
                                             >
                                                  <img
                                                       class="primary blur-up lazyload rounded-3"
                                                       data-src="<%= item.images[0].fullPath%>"
                                                       src="<%= item.images[0].fullPath%>"
                                                       alt="<%= item.images[0].name %> - <%= item.name %>"
                                                       title="<%= item.images[0].name %>"
                                                       loading="lazy"
                                                  />
                                                  <img
                                                       class="hover blur-up lazyload rounded-3"
                                                       data-src="<%= item.images[1].fullPath%>"
                                                       src="<%= item.images[1].fullPath%>"
                                                       alt="<%= item.images[1].name %> - <%= item.name %>"
                                                       title="<%= item.images[1].name %>"
                                                       loading="lazy"
                                                  />
                                             </a>
                                             <% } %>

                                             <!--Product Labels-->
                                             <% if(item.quantityAvailable > 2 ) { %>
                                             <div class="product-labels">
                                                  <span
                                                       class="pr-label3 lbl new rounded"
                                                       itemprop="offers"
                                                       itemscope
                                                       itemtype="https://schema.org/Offer"
                                                  >
                                                       <meta itemprop="availability" content="https://schema.org/InStock" />
                                                       <%= `${i18n.__("locales.stock-status.in-stock")}: ${item.quantityAvailable}` %>
                                                  </span>
                                             </div>
                                             <% } %>
                                             <%
                                             if(item.quantityAvailable <= 2 &&
                                             item.quantityAvailable !== 0) { %>
                                             <div class="product-labels">
                                                  <span
                                                       class="pr-label2 hot lbl new rounded"
                                                       itemprop="offers"
                                                       itemscope
                                                       itemtype="https://schema.org/Offer"
                                                  >
                                                       <meta itemprop="availability" content="https://schema.org/LimitedAvailability" />
                                                       <%= `${i18n.__("locales.stock-status.in-stock")}: ${item.quantityAvailable}` %>
                                                  </span>
                                             </div>
                                             <% } %>
                                             <%
                                             if(item.quantityAvailable === 0 ) { %>
                                             <div class="product-labels">
                                                  <span
                                                       class="on-sale lbl rounded"
                                                       itemprop="offers"
                                                       itemscope
                                                       itemtype="https://schema.org/Offer"
                                                  >
                                                       <meta itemprop="availability" content="https://schema.org/OutOfStock" />
                                                       <%= i18n.__("locales.stock-status.not-available") %>
                                                  </span>
                                             </div>
                                             <% } %>
                                             <!--End Product Labels-->

                                             <!--Button Action-->
                                             <div class="button-hover">
                                                  <span
                                                       class="btn btn-wishlist"
                                                       title="Dodaj do listy życzeń"
                                                  >
                                                       <i
                                                            index="<%= index %>"
                                                            product_id="<%= item.id %>"
                                                            action="add_to_favorites"
                                                            class="cpr cp-heart"
                                                            aria-label="Dodaj <%= item.name %> do listy życzeń"
                                                       ></i>
                                                  </span>
                                                  <span
                                                       class="btn pro-addtocart-popup rounded btn-cart btn-primary"
                                                       title="Dodaj do koszyka"
                                                  >
                                                       <i
                                                            index="<%= index %>"
                                                            product_id="<%= item.id %>"
                                                            action="add_to_cart"
                                                            class="cps cp-shopping-cart"
                                                            aria-label="Dodaj <%= item.name %> do koszyka"
                                                       ></i>
                                                  </span>
                                             </div>
                                             <!--End Button Action-->
                                        </div>
                                        <!--End Product Image-->

                                        <!--Product Details-->
                                        <div class="product-details d-flex" itemprop="description">
                                             <div class="product-details-in">
                                                  <h3 itemprop="name">
                                                       <a
                                                            href="<%= `${data.page.host}/item/${item.urlComponent}` %>"
                                                            ><%= item.name %></a
                                                       >
                                                  </h3>
                                                  <div class="price-box">
                                                       <span class="price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                                                            <meta itemprop="priceCurrency" content="PLN" />
                                                            <span itemprop="price"><%= item.priceFormat %></span>
                                                       </span>
                                                  </div>
                                             </div>
                                        </div>
                                        <!--End Product Details-->
                                   </div>
                              </div>
                              <% }); %>
                         </div>
                    </div>
                    <!--End Product Grid-->

                    <!--Product List-->
                    <div
                         id="list_products_system"
                         class="products-list"
                         name="container_products"
                    >
                         <div class="row">
                              <% data.content.docs.forEach((item, index) => { %>
                              <div class="col-12">
                                   <!--Product Item-->
                                   <div class="item d-flex align-items-center" itemscope itemtype="https://schema.org/Product">
                                        <!--Product Image-->
                                        <div class="product-image flex-1">
                                             <% if(item.images.length === 0) { %>
                                             <a
                                                  href="<%= `${data.page.host}/item/${item.urlComponent}` %>"
                                                  class="rounded-3 product-thumb"
                                                  aria-label="<%= item.name %>"
                                             >
                                                  <img
                                                       class="primary blur-up lazyload rounded-3"
                                                       data-src="assets/images/products/250x250.jpg"
                                                       src="assets/images/products/250x250.jpg"
                                                       alt="Brak obrazu dla <%= item.name %>"
                                                       title="<%= item.name %>"
                                                       loading="lazy"
                                                  />
                                             </a>
                                             <% } %>
                                             <% if(item.images.length === 1) { %>
                                             <a
                                                  href="<%= `${data.page.host}/item/${item.urlComponent}` %>"
                                                  class="rounded-3 product-thumb"
                                                  aria-label="<%= item.name %>"
                                             >
                                                  <img
                                                       class="primary blur-up lazyload rounded-3"
                                                       data-src="<%= item.images[0].fullPath%>"
                                                       src="<%= item.images[0].fullPath%>"
                                                       alt="<%= item.images[0].name %> - <%= item.name %>"
                                                       title="<%= item.images[0].name %>"
                                                       loading="lazy"
                                                  />
                                             </a>
                                             <% } %>
                                             <% if(item.images.length >= 2) { %>
                                             <a
                                                  href="<%= `${data.page.host}/item/${item.urlComponent}` %>"
                                                  class="rounded-3 product-thumb"
                                                  aria-label="<%= item.name %>"
                                             >
                                                  <img
                                                       class="primary blur-up lazyload rounded-3"
                                                       data-src="<%= item.images[0].fullPath%>"
                                                       src="<%= item.images[0].fullPath%>"
                                                       alt="<%= item.images[0].name %> - <%= item.name %>"
                                                       title="<%= item.images[0].name %>"
                                                       loading="lazy"
                                                  />
                                                  <img
                                                       class="hover blur-up lazyload rounded-3"
                                                       data-src="<%= item.images[1].fullPath%>"
                                                       src="<%= item.images[1].fullPath%>"
                                                       alt="<%= item.images[1].name %> - <%= item.name %>"
                                                       title="<%= item.images[1].name %>"
                                                       loading="lazy"
                                                  />
                                             </a>
                                             <% } %>

                                             <!--Product Labels-->
                                             <% if(item.quantityAvailable > 2 ) { %>
                                             <div class="product-labels">
                                                  <span
                                                       class="pr-label3 lbl new rounded"
                                                       itemprop="offers"
                                                       itemscope
                                                       itemtype="https://schema.org/Offer"
                                                  >
                                                       <meta itemprop="availability" content="https://schema.org/InStock" />
                                                       <%= `${i18n.__("locales.stock-status.in-stock")}: ${item.quantityAvailable}` %>
                                                  </span>
                                             </div>
                                             <% } %>
                                             <%
                                             if(item.quantityAvailable <= 2 &&
                                             item.quantityAvailable !== 0) { %>
                                             <div class="product-labels">
                                                  <span
                                                       class="pr-label2 hot lbl new rounded"
                                                       itemprop="offers"
                                                       itemscope
                                                       itemtype="https://schema.org/Offer"
                                                  >
                                                       <meta itemprop="availability" content="https://schema.org/LimitedAvailability" />
                                                       <%= `${i18n.__("locales.stock-status.in-stock")}: ${item.quantityAvailable}` %>
                                                  </span>
                                             </div>
                                             <% } %>
                                             <%
                                             if(item.quantityAvailable === 0 ) { %>
                                             <div class="product-labels">
                                                  <span
                                                       class="on-sale lbl rounded"
                                                       itemprop="offers"
                                                       itemscope
                                                       itemtype="https://schema.org/Offer"
                                                  >
                                                       <meta itemprop="availability" content="https://schema.org/OutOfStock" />
                                                       <%= i18n.__("locales.stock-status.not-available") %>
                                                  </span>
                                             </div>
                                             <% } %>
                                             <!--End Product Labels-->

                                             <!--Button Action-->
                                             <div class="button-hover">
                                                  <span
                                                       class="btn btn-wishlist"
                                                       title="Dodaj do listy życzeń"
                                                  >
                                                       <i
                                                            index="<%= index %>"
                                                            product_id="<%= item.id %>"
                                                            action="add_to_favorites"
                                                            class="cpr cp-heart"
                                                            aria-label="Dodaj <%= item.name %> do listy życzeń"
                                                       ></i>
                                                  </span>
                                                  <span
                                                       class="btn pro-addtocart-popup rounded btn-cart btn-primary"
                                                       title="Dodaj do koszyka"
                                                  >
                                                       <i
                                                            index="<%= index %>"
                                                            product_id="<%= item.id %>"
                                                            action="add_to_cart"
                                                            class="cps cp-shopping-cart"
                                                            aria-label="Dodaj <%= item.name %> do koszyka"
                                                       ></i>
                                                  </span>
                                             </div>
                                             <!--End Button Action-->
                                        </div>
                                        <!--End Product Image-->

                                        <!--Product Details-->
                                        <div class="product-details flex-1" itemprop="description">
                                             <div class="product-details-in">
                                                  <h3 itemprop="name">
                                                       <a
                                                            href="<%= `${data.page.host}/item/${item.urlComponent}` %>"
                                                            ><%= item.name %></a
                                                       >
                                                  </h3>
                                                  <div class="price-box">
                                                       <span class="price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                                                            <meta itemprop="priceCurrency" content="PLN" />
                                                            <span itemprop="price"><%= item.priceFormat %></span>
                                                       </span>
                                                  </div>
                                                  <div class="product-review">
                                                       <!-- Przykładowe gwiazdki ocen -->
                                                       <i class="cps cp-star" aria-hidden="true"></i>
                                                       <i class="cps cp-star" aria-hidden="true"></i>
                                                       <i class="cps cp-star" aria-hidden="true"></i>
                                                       <i class="cps cp-star" aria-hidden="true"></i>
                                                       <i class="cpr cp-star" aria-hidden="true"></i>
                                                       <span class="sep">|</span>
                                                       <span>2 Opinie</span>
                                                  </div>
                                                  <div class="sort-description">
                                                       <p>
                                                            <%= item.description %>
                                                       </p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!--End Product Details-->

                                        <!--Structured Data for Product-->
                                        <script type="application/ld+json">
                                             {
                                                  "@context": "https://schema.org/",
                                                  "@type": "Product",
                                                  "name": "<%= item.name %>",
                                                  "image": [
                                                       <% item.images.forEach((img, idx) => { %>
                                                            "<%= img.fullPath %>"<%= idx < item.images.length - 1 ? ',' : '' %>
                                                       <% }) %>
                                                  ],
                                                  "description": "<%= item.description.replace(/"/g, '\\"') %>",
                                                  "sku": "<%= item.id %>",
                                                  "offers": {
                                                       "@type": "Offer",
                                                       "url": "<%= `${data.page.host}/item/${item.urlComponent}` %>",
                                                       "priceCurrency": "PLN",
                                                       "price": "<%= item.price %>",
                                                       "availability": "<%= item.quantityAvailable > 0 ? 'https://schema.org/InStock' : 'https://schema.org/OutOfStock' %>",
                                                       "itemCondition": "https://schema.org/NewCondition"
                                                  }
                                             }
                                        </script>
                                        <!--End Structured Data-->
                                   </div>
                                   <!--End Product Item-->
                              </div>
                              <% }); %>
                         </div>
                    </div>
                    <!--End Product Grid-->

                    <!--Pagination-->
                    <div class="row">
                         <div class="col-12">
                              <nav aria-label="Stronicowanie">
                                   <div class="pagination">
                                        <div class="container mb-5">
                                             <ul
                                                  id="main_pagination_block"
                                                  class="d-flex align-items-center justify-content-center"
                                             >
                                                  <!-- Sprawdzenie, czy obiekt paginacji istnieje -->
                                                  <% if (data.content.pagination) { %>
                                                       <!-- Sprawdzenie, czy istnieje poprzednia strona -->
                                                       <% if (data.content.pagination.prev) { %>
                                                            <li>
                                                                 <a href="<%= data.content.pagination.prev %>" rel="prev" aria-label="Poprzednia strona">« Poprzednia</a>
                                                            </li>
                                                       <% } %>

                                                       <!-- Generowanie linków do poszczególnych stron -->
                                                       <% for(let i = 1; i <= data.content.pagination.totalPages; i++) { %>
                                                            <li>
                                                                 <a href="<%= `${data.page.host}/search/${data.content.pagination.query}?page=${i}` %>" aria-label="Strona <%= i %>"><%= i %></a>
                                                            </li>
                                                       <% } %>

                                                       <!-- Sprawdzenie, czy istnieje następna strona -->
                                                       <% if (data.content.pagination.next) { %>
                                                            <li>
                                                                 <a href="<%= data.content.pagination.next %>" rel="next" aria-label="Następna strona">Następna »</a>
                                                            </li>
                                                       <% } %>
                                                  <% } %>
                                             </ul>
                                        </div>
                                   </div>
                              </nav>
                         </div>
                    </div>
                    <!--End Pagination-->
               </div>
               <!--End Content-->
          </div>
     </div>
</div>

<!-- Skrypt JavaScript -->
<script>
     // Pobieranie elementów DOM
     const btnListView = document.querySelector("#btn_list_products_system");
     const btnGridView = document.querySelector("#btn_grid_products_system");
     const listView = document.querySelector("#list_products_system");
     const gridView = document.querySelector("#grid_products_system");

     const setDisplayProductsSystem = () => {
          let displaySystem =
               localStorage.getItem("display_products_system") || 'grid'

          console.log(displaySystem)

          if (displaySystem === "list") {
               btnListView.classList.add("active");
               btnGridView.classList.remove("active");

               gridView.style.display = "none";
               listView.style.display = "block";
          } else {
               btnGridView.classList.add("active");
               btnListView.classList.remove("active");

               listView.style.display = "none";
               gridView.style.display = "block";
          }
     };

     const changeDisplayProductsSystem = () => {
          const displayProductsSystem = document.querySelector(
               "#display_products_system"
          );

          if (!displayProductsSystem) return;

          displayProductsSystem.addEventListener("click", (e) => {
               const target = e.target.closest(".change-view");
               if (!target) return;
               const new_value = target.getAttribute("value");

               if (new_value) {
                    localStorage.setItem("display_products_system", new_value);

                    setDisplayProductsSystem();
               }
          });
     };

     // Wywołanie funkcji po załadowaniu strony
     document.addEventListener("DOMContentLoaded", () => {
          setDisplayProductsSystem();
          changeDisplayProductsSystem();
     });

     // CATEGORY LINKS
     const category_links = document.querySelectorAll("[name='category_link']");

     if (category_links) {
          category_links.forEach((item) => {
               let url_component = item.getAttribute("urlComponent"); 
               let active_url = window.location.pathname.split("/")[2];

               if (url_component === active_url) {
                    item.classList.add("active");
               }
          });
     }

     // GROUPS LINKS 
     const group_links = document.querySelectorAll("[name='group_link']");

     if (group_links) {
          let url = new URL(window.location.href);
          let current_groups = url.searchParams.getAll("group");

          group_links.forEach((item) => {
               let url_component = item.getAttribute("urlComponent");
               let field = item.getAttribute("field");

               item.addEventListener("click", (e) => {
                    e.preventDefault();

                    if (!url.searchParams.getAll(field).includes(url_component)) {
                         
                         url.searchParams.append(field, url_component);
                    } else {

                         let values = url.searchParams.getAll(field);
                         url.searchParams.delete(field); 
                         values.forEach(value => {
                              if (value !== url_component) {
                              url.searchParams.append(field, value); 
                              }
                         });
                    }

                    window.location.href = url.href;
               });

               if (current_groups.includes(url_component)) {
                    item.classList.add("checked");
               }
          });
     }

     const btn_more_group = document.querySelector("#btn_more_group");
     
     btn_more_group.addEventListener("click", (e) => {
          e.preventDefault();
          
          const container_group = document.querySelector("#container_group");
          const groups = container_group.querySelectorAll("[name='group']");

          groups.forEach((item, index) => {

               if (index > 5) {
                    item.classList.toggle("d-none");
               }
          });

          let name = btn_more_group.getAttribute("name");

          if (name === "more") {
               btn_more_group.innerHTML = "mniej";
               btn_more_group.setAttribute("name", "less");
          } else {
               btn_more_group.innerHTML = "więcej";
               btn_more_group.setAttribute("name", "more");
          }
     })


</script>


<style>
     .btn-more {
          color: var(--color-secondary);
          border: none;
          cursor: pointer;
          font-size: large;
          margin-top: 10px;
          text-decoration: underline;
     }     
</style>