<!DOCTYPE html>
<html>
  <head>
    <title><%= i18n.__('Change your password') %></title>
  </head>
  <body>
    <p><%= i18n.__('To change your password click on the button below and follow the instructions:') %></p>
    <a href="<%= link %>"><%= link %></a>
    <p><%= i18n.__('In case of technical problems, contact 3C ERP administration.') %></p>
    <p>
        <b><%= i18n.__('We are glad you are with us ') %></b>
        <br/>
        <%= i18n.__('Greetings!') %>
        <br/>
        <b></b>3C ERP</b>
    </p>
  </body>
</html>